/* Assign grid instructions to our parent grid container, mobile-first (hide the sidenav) */

.main-overview {
  display: grid;
  background: #ededed;
  padding: 20px;
  grid-template-columns: repeat(auto-fit, minmax(265px, 1fr));

  /* grid-auto-rows: 94px; */
  grid-gap: 20px;
  /* height: 20vh; */
  margin: 20px;
}
.main-overview title {
  display: flex;
  flex-direction: row;
}

.overviewcard {
  display: flex;
  flex-direction: column;
  max-height: 15vh;
  align-items: center;
  justify-content: space-between;
  padding: 25px;
  border-radius: 20px;
}
.overviewcard__info > h1 {
  font-size: 46px;
}

.main-cards {
  column-count: 2;
  column-gap: 20px;
  margin: 20px;
  height: fit-content;
}

.card {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #efefef;
  margin-bottom: 20px;
  -webkit-column-break-inside: avoid;
  padding: 24px;
  box-sizing: border-box;
  box-shadow: -1px 4px 20px -6px rgba(0, 0, 0, 0.7);
}
.card > h2 {
  display: flex;
  text-align: left;
  color: black;
  font-size: 36px;
  padding: 20px;
}
.card > h4 {
  display: flex;
  text-align: left;
  color: black;
  font-size: 24px;
  padding-left: 20px;
  padding-top: 0px;
}

.card:first-child {
  height: fit-content;
}

.card:nth-child(2) {
  height: 253px;
}

.card:nth-child(3) {
  height: 253px;
}

/* Non-mobile styles, 750px breakpoint */
@media only screen and (min-width: 46.875em) {
  .header__search {
    margin-left: 0;
  }

  .sidenav {
    position: relative;
    transform: translateX(0);
  }

  .sidenav__close-icon {
    visibility: hidden;
  }
}

/* Medium screens breakpoint (1050px) */
@media only screen and (min-width: 65.625em) {
  /* Break out main cards into two columns */
  .main-cards {
    column-count: 2;
  }
}
