/* Assign grid instructions to our parent grid container, mobile-first (hide the sidenav) */

.main-overview {
  display: grid;
  background: #ededed;
  padding: 20px;
  grid-template-columns: repeat(auto-fit, minmax(265px, 1fr));

  /* grid-auto-rows: 94px; */
  grid-gap: 20px;
  /* height: 20vh; */
  margin: 20px;
}
.main-overview title {
  display: flex;
  flex-direction: row;
}

.overviewcard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 25px;
  border-radius: 20px;
}
.overviewcard__info > h1 {
  font-size: 46px;
}

/* Non-mobile styles, 750px breakpoint */
@media only screen and (min-width: 46.875em) {
  .header__search {
    margin-left: 0;
  }

  .sidenav {
    position: relative;
    transform: translateX(0);
  }

  .sidenav__close-icon {
    visibility: hidden;
  }
}

/* Medium screens breakpoint (1050px) */
@media only screen and (min-width: 65.625em) {
  /* Break out main cards into two columns */
  .main-cards {
    column-count: 2;
  }
}
