body {
  margin: 0;
  padding: 0;
  color: #fff;
  font-family: "Open Sans", Helvetica, sans-serif;
  box-sizing: border-box;
}

/* Assign grid instructions to our parent grid container, mobile-first (hide the sidenav) */
.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  /* grid-template-rows: 50px 1fr 50px; */
  grid-template-areas:
    "header"
    "main"
    "footer";
  height: 100vh;
}

.menu-icon {
  position: fixed; /* Needs to stay visible for all mobile scrolling */
  display: flex;
  top: 5px;
  left: 10px;
  align-items: center;
  justify-content: center;
  background-color: #dadae3;
  border-radius: 50%;
  z-index: 1;
  cursor: pointer;
  padding: 12px;
}

/* Give every child element its grid name */
.header {
  grid-area: header;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  background-color: #e02c20;
}

.header__search {
  display: flex;
  margin-left: 1rem;
}

.header__items a {
  color: white;
  text-decoration: none;
  padding: 0 10px;
}

.header__items a:hover,
.header__items a:active {
  color: turquoise;
}

@media (max-width: 768px) {
  .header__items {
    display: none;
  }
}

*/ .main-screen {
  grid-area: main;
  background-color: #8fd4d9;
}
/* 
  .main-header {
    display: flex;
    justify-content: space-between;
    margin: 20px;
    padding: 20px;
    height: 150px;
    background-color: #e3e4e6;
    color: slategray;
  } */
